<ion-content class="ion-padding" style="text-align: center;">

  <div style="height: 100px; padding: 25px 0; position: relative;">
    
    <div class="circle-1">
      <div class="inner-circle">
        <ion-icon name="checkmark"></ion-icon>
      </div>
    </div>

  </div>

  <h3>

    ¡Marchando!

  </h3>
    <small *ngIf="type">Los datos de la reserva han sido guardados, <br> se ha notificado al cliente.</small>
    <small *ngIf="!type">Tus datos han sido guardados, <br> tu reserva está esperándote.</small>

    <br>

    <h4>{{e.establishment_name}}</h4>


    <small>{{e.px}} personas</small>

    <span style="display: block; margin: 8px; color: #ffc758">A las {{e.hour_from}} horas
     <!-- &bull; {{e.price}} -->
   </span>

    <button style="box-shadow: none; margin: 0;" class="je-button" (click)="goHome()">Volver a Home</button>

</ion-content>
