.user-img-2 {
  padding: 20px;
  border-radius: 20px;
  background-color: #b42d66;
  box-shadow: 0 5px 20px -5px #333;
  margin-right: 20px;
  width: fit-content;
  left: 0;
  right: 0;
  z-index: 9999;

  background-size: cover;
  background-position: center;
}