<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="top-login" style="background-image: url('assets/img/imagenes 4.jpg');">

    <ion-icon name="chevron-back" (click)="api.back()" class="back-button bb"></ion-icon>

    <ion-icon name="menu-outline" (click)="api.showmenu()" class="menu-button cw"></ion-icon>

    <div class="top-logo">
      <img src="assets/logo-01.svg" alt="">
    </div>
    
  </div>

  <br>
  <br>
  <br>
  <br>

  <div style="padding: 0 16px; text-align: center;">
    <h3>Ofertas</h3>

    <p>Envía notificaciones de ofertas a los usuarios con reserva</p>

    <form style="padding-top: 0; margin-top: 0;" class="form" [formGroup]="validations_form" (ngSubmit)="sendNotification(validations_form.value)">
      
    <ion-list>

      <ion-item class="ion-no-padding">
        <ion-label position="floating">Título</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>

      </ion-item>
        <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.title">
                  <div class="error-message" *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

      <ion-item class="ion-no-padding">
        <ion-label position="floating">Mensaje</ion-label>

        <ion-textarea formControlName="message"></ion-textarea>

      </ion-item>
        <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.message">
                  <div class="error-message" *ngIf="validations_form.get('message').hasError(validation.type) && (validations_form.get('message').dirty || validations_form.get('message').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

      <ion-item class="ion-no-padding">
        <ion-label position="floating">¿Cuándo se envía?</ion-label>

        <ion-datetime formControlName="notification" doneText="Ok" cancelText="Cancelar" display-format="DD-MM-YYYY HH:mm"></ion-datetime>

      </ion-item>
        <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.message">
                  <div class="error-message" *ngIf="validations_form.get('message').hasError(validation.type) && (validations_form.get('message').dirty || validations_form.get('message').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

      <!-- <ion-item>
      </ion-item> -->
    </ion-list>
      

    <button type="submit" class="je-button" [disabled]="!validations_form.valid">Enviar Oferta</button>

  </form>

  </div>



</ion-content>
