<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="top-login" style="background-image: url('assets/img/imagenes 9.jpg');">

    <ion-icon name="chevron-back" (click)="api.back()" class="back-button bb"></ion-icon>

    <ion-icon name="menu-outline" (click)="api.showmenu()" class="menu-button cw"></ion-icon>

    <div class="top-logo">
      <img src="assets/logo-01.svg" alt="">
    </div>
    
  </div>

  <br>
  <br>
  <br>
  <br>

  <div style="padding: 0 16px;">
    <!-- <ion-searchbar [(ngModel)]="query" placeholder="Buscar"></ion-searchbar>

    <br> -->

    <div style="margin-bottom: 24px;">

      <div *ngIf="!schedules.length && loaded">
        <h5 style="text-align: center; color: silver">No hay resultados</h5>
      </div>


      <div class="fechas">

        <table style="width: 100%; text-align: center;" cellpadding="8" cellspacing="8">
          <thead>
            <tr>
              <th style="padding: 10px 0;">Dia</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let sc of schedules">
              <td style="padding: 10px 0;">{{sc.date | day}}</td>
              <td>{{sc.hour_from}}</td>
              <td>{{sc.hour_to}}</td>
              <td>
                <ion-button (click)="deleteSchedule(sc)" size="small" color="danger"> <ion-icon name="trash-outline"></ion-icon> </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>

    </div>

  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: #b42d66" [routerLink]="['/spaces/schedule/'+route.snapshot.params.id]">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
