<ion-content class="ion-padding" style="text-align: center;">

  <div style="height: 100px; padding: 25px 0; position: relative;">
    
    <div class="circle-1">
      <div class="inner-circle">
        <ion-icon name="checkmark"></ion-icon>
      </div>
    </div>

  </div>

  <h3>

    ¡Deja tu valoración!

  </h3>
    <small>Es importante para nostros que <br> valores el servicio que prestamos.</small>

    <br>

    <span style="color: gold;font-size: 38px;margin: 20px 0;display: block;">
      <ion-icon [name]="'star-outline'"></ion-icon>
      <ion-icon [name]="'star-outline'"></ion-icon>
      <ion-icon [name]="'star-outline'"></ion-icon>
      <ion-icon [name]="'star-outline'"></ion-icon>
      <ion-icon [name]="'star-outline'"></ion-icon>
    </span>

    <br>

    <button style="box-shadow: none; margin: 0;" class="je-button" (click)="goHome()">Valorar</button>

</ion-content>
